<div class="row">
	<div class="six columns">
		<a href="/img/atelier/art-classes/a5_poster_for_art_classes_2019b.jpg">
			<img class="u-max-full-width" src="/img/atelier/art-classes/a5_poster_for_art_classes_2019b.jpg" />
		</a>
	</div>
	<div class="six columns">
		<a href="/img/atelier/art-classes/kids_poster_2019a.jpg">
			<img class="u-max-full-width" src="/img/atelier/art-classes/kids_poster_2019a.jpg" />
		</a>
	</div>
</div>

<br />

<div class="row">
	<div class="twelve columns">
		<a href="/img/atelier/art-classes/atelier_member_hours_2019b.jpg">
			<img class="u-max-full-width" src="/img/atelier/art-classes/atelier_member_hours_2019b.jpg" />
		</a>
	</div>
</div>
