<div class="row">
	<div class="six columns">
		<a href="/img/atelier/art-classes/Insta_Atelier_kids_poster.jpg">
			<img class="u-max-full-width" src="/img/atelier/art-classes/Insta_Atelier_kids_poster.jpg" />
		</a>
	</div>
	<div class="six columns">
		<a href="/img/atelier/art-classes/Insta_Atelier_kids_poster_EN.jpg">
			<img class="u-max-full-width" src="/img/atelier/art-classes/Insta_Atelier_kids_poster_EN.jpg" />
		</a>
	</div>
</div>

<br />

<div class="row">
	<div class="six columns">
		<a href="/img/atelier/art-classes/Insta_Atelier_times.jpg">
			<img class="u-max-full-width" src="/img/atelier/art-classes/Insta_Atelier_times.jpg" />
		</a>
	</div>
	<div class="six columns">
		<a href="/img/atelier/art-classes/A5_Poster_for_Adult_art_classes_2019.jpg">
			<img class="u-max-full-width" src="/img/atelier/art-classes/A5_Poster_for_Adult_art_classes_2019.jpg" />
		</a>
	</div>
</div>
