<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="Galarie Alpine - Fine Art in the heart of the Alps">
	<meta name="author" content="">

	<!-- mobile specific metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	<!-- style -->
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/custom.css">
	<link rel="stylesheet" href="/css/github-prettify-theme.css">
	<link rel="stylesheet" type="text/css" href="/css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>

	<!-- favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/js/site.js"></script>

	{% if page.map %}
	<!-- google map -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDPoL8C8NlJ9vI4ZIWBWYXP5jChfpAsXyU"></script>
	<script>
		function initialize() {
			
			var latlng = new google.maps.LatLng({{ page.map[0] }}, {{ page.map[1] }});

			var mapOptions = {
				zoom: 16,
				center: latlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}

			var mapCanvas = document.getElementById("map-canvas");
			mapCanvas.id = "map-canvas";
			mapCanvas.style.height = "300px";

			var map = new google.maps.Map(
				mapCanvas,
				mapOptions
			);

			var marker = new google.maps.Marker({
				map: map,
				title: "{{ page.map[2] }}"
			});

			marker.setPlace({ location: latlng, query: "{{ page.map[2] }}" });
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	{% endif %}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-EC6FLF4MZ0"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'G-EC6FLF4MZ0');
	</script>
</head>
