<section class="header">
	<div class="container">
		<div class="row">
			<div class="twelve columns">
			<a href="/" rel="home" title="Galerie Alpine">
				<img src="/img/GA-logo-72dpi-web.png" alt="Galerie Alpine" title="Galerie Alpine" class="u-max-full-width">
			</a>
			</div>
		</div>
	</div>
</section>

<div class="navbar-spacer"></div>
<nav class="navbar">
  <div class="container">
	<ul class="navbar-list">
	  <li class="navbar-item"><a class="navbar-link" href="/blog/">Blog</a></li>
	  <li class="navbar-item">
		<a class="navbar-link" href="#" data-popover="#aboutistNavPopover">About</a>
		<div id="aboutistNavPopover" class="popover">
		  <ul class="popover-list">
			<li class="popover-item">
			  <a class="popover-link" href="/about/">The Gallery</a>
			</li>
			<li class="popover-item">
			  <a class="popover-link" href="/contact/">Contact</a>
			</li>
			<li class="popover-item">
			  <a class="popover-link" href="/association/">Association</a>
			</li>
		  </ul>
		</div>
	  </li>
	  <li class="navbar-item">
		<a class="navbar-link" href="#" data-popover="#artistNavPopover">Artists</a>
		<div id="artistNavPopover" class="popover">
		  <ul class="popover-list">
			<li class="popover-item">
			  <a class="popover-link" href="/artists/">All Artists</a>
			</li>
			<li class="popover-item">
			  <a class="popover-link" href="/artists/cat-saunders/">Cat Saunders</a>
			</li>
			<li class="popover-item">
			  <a class="popover-link" href="/artists/sophie-scott/">Sophie Scott</a>
			</li>
			<li class="popover-item">
			  <a class="popover-link" href="/artists/lee-johnson/">Lee Johnson</a>
			</li>
			<li class="popover-item">
			  <a class="popover-link" href="/artists/rob-scott/">Rob Scott</a>
			</li>
			<li class="popover-item">
			  <a class="popover-link" href="/artists/visiting-artists/">Visiting Artists</a>
			</li>
		  </ul>
		</div>
	  </li>
	  <li class="navbar-item">
		<a class="navbar-link" href="#" data-popover="#atelierNavPopover">Atelier</a>
		<div id="atelierNavPopover" class="popover">
		  <ul class="popover-list">
			<li class="popover-item">
			  <a class="popover-link" href="/atelier/art-classes/">Art Classes</a>
			</li>
			<li class="popover-item">
			  <a class="popover-link" href="/atelier/photography/">Photograpy Courses</a>
			</li>
		  </ul>
		</div>
	  </li>

	  <li class="navbar-icons">
	<a class="navbar-icon" href="mailto:info@galeriealpine.com" original-title="email" title="send us an email">
		<img src="/img/social/if_mail_678145.png" width="20px" />
	</a>

	  </li>
	  <li class="navbar-icons">
	<a class="navbar-icon" href="https://twitter.com/GalerieAlpine" original-title="Twitter" title="Follow on Twitter" target="_blank" rel="nofollow">
		<img src="/img/social/if_twitter_2136496.png" width="20px" />
	</a>

	  </li>
	  <li class="navbar-icons">
	<a class="navbar-icon" href="https://www.facebook.com/Galerie-Alpine-136288323520164" original-title="Facebook" title="Follow on Facebook" target="_blank" rel="nofollow">
		<img src="/img/social/if_facebook_112689.png" width="20px" />
	</a>

	  </li>
	  <li class="navbar-icons">
	<a class="navbar-icon" href="https://www.instagram.com/galeriealpine/" original-title="Instagram" title="Follow on Instagram" target="_blank" rel="nofollow">
		<img src="/img/social/if_instagram-2048-black_167679.png" width="20px" />
	</a>
	  </li>

	</ul>
  </div>
</nav>
<br />
