<div class="">
	<div class="">
		<header class="">
			<div class="" header-version="style2" data-centered="yes" data-resize="no" resize-factor="0.3" data-transparent="no" logo-resize="no">
				<div class="">
					<div class="">
						<div id="">
							<div class="" data-custom-logo="false">
								<a href="/" rel="home" title="Galerie Alpine">
									<img src="/img/GA-logo-72dpi-web.png" alt="Galerie Alpine" title="Galerie Alpine" class="">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="">
			<div class="">
				<nav id="" class="">
					<ul id="" class="">
						<li id="" class="">
							<a class="" href="/">Home<span class=""><i class=""></i></span></a>
							<ul style="" class="">
								<li id="" class=""><a class="" href="/about/">About</a></li>
								<li id="" class=""><a class="" href="/association/">Association</a></li>
							</ul>
						</li>

						<li id="" class=""><a class="" href="/artists/">Artists<span class=""><i class=""></i></span></a>
							<ul style="" class="">
								<li id="" class=""><a class="" href="/artists/cat-saunders/">Cat Saunders</a></li>
								<li id="" class=""><a class="" href="/artists/sophie-scott/">Sophie Scott</a></li>
								<li id="" class=""><a class="" href="/artists/lee-johnson/">Lee Johnson</a></li>
								<li id="" class=""><a class="" href="/artists/rob-scott/">Rob Scott</a></li>
								<li id="" class=""><a class="" href="/artists/visiting-artists/">Visting Artists</a></li>
							</ul>
						</li>

						<li id="" class=""><a class="" href="/atelier/">Atelier<span class=""><i class=""></i></span></a>
							<ul style="" class="">
								<li id="" class=""><a class="" href="/atelier/art-classes/">Art Classes</a></li>
								<li id="" class=""><a class="" href="/atelier/photography/">Photography Courses</a></li>
							</ul>
						</li>

						<li id="" class=""><a class="" href="/blog/">Blog</a></li>
						<li id="" class=""><a class="" href="/contact/">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
