				<div id="" class="" data-container-width=0 data-container-pos=top>
					<div class="">
						<div class="">
							<div class="">
								<div class="">
									<div class=""><a href="mailto:info@galeriealpine.com"><i class=""></i>info@galeriealpine.com</a></div>
									<div class=""><div><i class=""></i><span>+41 76 343 70 28</span></div></div>
									<div class=""><div><i class=""></i><span>97 Avenue Centrale, 1884 Villars-sur-Ollon</span></div></div>
								</div>
							</div>

							<div class="">
								<div class="">
									<a href="http://twitter.com/GalerieAlpine" class="" original-title="Twitter" title="Follow on Twitter" target="_blank" rel="nofollow">
										<i class=""></i>
									</a>
									<a href="https://www.facebook.com/Galerie-Alpine-136288323520164" class="" original-title="Facebook" title="Follow on Facebook" target="_blank" rel="nofollow">
										<i class=""></i>
									</a>
									<a href="https://www.instagram.com/galeriealpine/" class="" original-title="Instagram" title="Follow on Instagram" target="_blank" rel="nofollow">
										<i class=""></i>
									</a>
								</div>
							</div>
						</div>
					</div>  
				</div>
