<div class="artists">

	<hr>

	<div class="row">
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/WHO-FB-Portrait-200x200.jpg" />
		</div>
		<div class="six columns">
			<h5>Bill O'Connor
				&nbsp;
			</h5>
			<p>Works in oil, often painted on location. Bill brings a spirit of adventure to his paintings.</p>
			<p>Oeuvres en huile peints souvent en plein air. Bill amène un esprit aventureux à ses peintures.</p>
		</div>
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/bill_mosaic.jpg" />
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/heena-200x200.jpg" />
		</div>
		<div class="six columns">
			<h5>Heena Sheth
				&nbsp;
				<a href="mailto:heenasheth51@hotmail.com"><img src="/img/social/if_mail_678145.png" width="20px" /></a>
			</h5>
			<p>Heena creates knife works in oil, she is an expressionist, realist, and abstract artist.</p>
			<p>Heena crée des oeuvres en huile, elle est une artiste expressionniste, réaliste et abstraite.</p>
		</div>
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/heena_mosaic.jpg" />
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/will-200x200.jpg" />
		</div>
		<div class="six columns">
			<h5>Willemijn van Dijk
				&nbsp;
				<a href="http://zilvermijn76.wixsite.com/artbywillemijn"><img src="/img/social/if_cloud_22859.png" width="20px" /></a>
				<a href="mailto:artbywillemijn@gmail.com"><img src="/img/social/if_mail_678145.png" width="20px" /></a>
			</h5>
			<p>Abstract artist working with acrylic paint in bold and bright canvas work.</p>
			<p>Artiste abstrait travaillant avec de la peinture acrylique en toile lumineuse.</p>
		</div>
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/will_mosaic.jpg" />
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/eva-200x200.jpg" />
		</div>
		<div class="six columns">
			<h5>Eva van Lis
				&nbsp;
				<a href="http://www.evalis.nl"><img src="/img/social/if_cloud_22859.png" width="20px" /></a>
				<a href="mailto:evalis@live.nl"><img src="/img/social/if_mail_678145.png" width="20px" /></a>
			</h5>
			<p>Eva's painting career has been truly international with extended stays and exhibitions in Africa, America, and England.</p>
			<p>La carrière de peinture d'Eva a été vraiment internationale avec des expositions prolongés en Afrique, Amérique, et en Angleterre.</p>
		</div>
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/eva_mosaic.jpg" />
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/christine-200x200.jpg" />
		</div>
		<div class="six columns">
			<h5>Christine Williamson
				&nbsp;
				<a href="http://www.cawilliamson.ch"><img src="/img/social/if_cloud_22859.png" width="20px" /></a>
				<a href="mailto:cawilliamson@bluemail.ch"><img src="/img/social/if_mail_678145.png" width="20px" /></a>
			</h5>
			<p>Christine enjoys travelling around Switzerland discovering the cantons and the beautiful scenery which inspire her to paint every day.</p>
			<p>Christine aime voyager pour découvrir tous les cantons suisses et les beaux paysages, une source d’inspiration qui nourrit sa pratique de peinture tous les jours.</p>
		</div>
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/christine_mosaic.jpg" />
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/ildze-200x200.jpg" />
		</div>
		<div class="six columns">
			<h5>Ildze Ose
				&nbsp;
				<a href="http://www.art-in-the-alps.com"><img src="/img/social/if_cloud_22859.png" width="20px" /></a>
				<a href="https://www.instagram.com/ildze_ose/"><img src="/img/social/if_instagram-2048-black_167679.png" width="20px" /></a>
				<a href="mailto:artinthealps@gmail.com"><img src="/img/social/if_mail_678145.png" width="20px" /></a>
			</h5>
			<p>Ildze is an artist specializing in naive Swiss or imaginative scenes. Working in oil and acrylic.</p>
			<p>Ildze est un artiste spécialisé dans des scènes naïves suisses ou imaginatives. Travailler dans l'huile et l'acrylique.</p>
		</div>
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/ildze_mosaic.jpg" />
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/andre-200x200.jpg" />
		</div>
		<div class="six columns">
			<h5><a href="/artists/andre/">André E. Benoit</a>
				&nbsp;
				<a href="http://www.andrebenoit-art.com"><img src="/img/social/if_cloud_22859.png" width="20px" /></a>
			</h5>
			<p>André is an artist working in multidimensional mixed media.</p>
			<p>André est un artiste spécialisé dans les médias mixtes multidimensionnels.</p>
		</div>
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/andre_mosaic.jpg" />
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/vincenzo-200x200.jpg" />
		</div>
		<div class="six columns">
			<h5><a href="/artists/vincenzo/">Vincenzo Romanelli</a>
				&nbsp;
				<a href="https://vincenzoromanelli.org"><img src="/img/social/if_cloud_22859.png" width="20px" /></a>
				<a href="https://www.instagram.com/vincenzoromanellisculptor/"><img src="/img/social/if_instagram-2048-black_167679.png" width="20px" /></a>
				<a href="mailto:info@vincenzo-romanelli.com"><img src="/img/social/if_mail_678145.png" width="20px" /></a>
			</h5>
			<p>Vincenzo represents the fifth generation of Romanelli family sculptors.</p>
			<p>Vincenzo représente la cinquième génération de sculpteurs de la famille Romanelli.</p>
		</div>
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/vincenzo_mosaic.jpg" />
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/bao-200x200.jpg" />
		</div>
		<div class="six columns">
			<h5>Bao-Khang Luu
				&nbsp;
				<a href="https://www.baokhangluu.com/"><img src="/img/social/if_cloud_22859.png" width="20px" /></a>
				<a href="https://www.instagram.com/baokhangluuart/"><img src="/img/social/if_instagram-2048-black_167679.png" width="20px" /></a>
				<a href="mailto:bao@baokhangluu.com"><img src="/img/social/if_mail_678145.png" width="20px" /></a>
			</h5>
			<p>Bao's works focus on overlooked and discarded materials, injecting high design into humble materials.</p>
			<p>Ses travaux se concentrent sur les matériaux négligés et jetés, pour injecter un design de haut niveau dans des matériaux pauvres et ordinaires.</p>
		</div>
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/blank-200x200.jpg" />
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/dora-200x200.jpg" />
		</div>
		<div class="six columns">
			<h5>Dora Fraissinet
				&nbsp;
				<a href="https://www.dora-fraissinet.com/"><img src="/img/social/if_cloud_22859.png" width="20px" /></a>
				<a href="mailto:dorafraissinet@gmail.com"><img src="/img/social/if_mail_678145.png" width="20px" /></a>
			</h5>
			<p>After a childhood shared between Provence, Switzerland and Savoy, Dora devoted herself to the realization of interior perspectives in watercolor.</p>
			<p>Après une enfance partagée entre la Provence, la Suisse et la Savoie, Dora s'est-elle consacrée à la réalisation de perspectives d’intérieur à l'aquarelle.</p>
		</div>
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/dora_mosaic.jpg" />
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="three columns">
			<img class="u-max-full-width" src="/img/artists/danny-200x200.jpg" />
		</div>
		<div class="six columns">
			<h5>Danny Touw
				&nbsp;
				<a href="https://www.touw.com/"><img src="/img/social/if_cloud_22859.png" width="20px" /></a>
				<a href="https://www.instagram.com/atouwaday/"><img src="/img/social/if_instagram-2048-black_167679.png" width="20px" /></a>
				<a href="mailto:danny@touw.com"><img src="/img/social/if_mail_678145.png" width="20px" /></a>
			</h5>
			<p>Danny is inspired by the landscapes in the Swiss and French Alps. He works with different
			media such as acrylics on canvas, aquarelle and ink on paper, and fully digital paintings.</p>
			<p>Danny s&#39;inspire des paysages des Alpes Suisses et Françaises. Il utilise différentes
			techniques telles que l&#39;acrylique sur toile, l&#39;aquarelle et l&#39;encre sur papier et les peintures
			entièrement numériques.</p>
		</div>
		<div class="three columns">
			<!-- <img class="u-max-full-width" src="/img/artists/dora_mosaic.jpg" /> -->
		</div>
	</div>

</div>
